--- 
---
.navigation {
    background-color: black;
    height: 40px;
    @media screen and (min-width: 600px) {
        height: 50px;
    }
}
.menuToggle {
  display: block;
  position: relative;
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
  
  width: 100%;
  height: 60px;
}

.menu-icon {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
}

.menu-icon-line {
  background: #ffffff;
  border-radius: 9px;
  display: block;
  position: relative;
  height: 4px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  width: 35px;
  margin: 4px;
}

.menu {
  position: absolute;
  background-color: black;
  display: none;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  left: 0px;
  right: 0px;
  top: -20px;

  & li {
    float: none;
    & a {
      padding: 10px 15px;
    }
  }

  @media screen and (min-width: 600px) {
    float: right;

    & li {
      float: left;
      & a {

      }
    }
  }
}

.menuToggleCheckbox {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
  

  &:checked ~ {
    & .menu {
      display: block;
    }

    & .menu-icon .menu-icon-line {
      margin: 0px;

      &:nth-child(1) {
          margin: 6px;
          width: 0%;
      }

      &:nth-child(2) {
          top: 2px;
          transform: rotate(45deg);
      }

      &:nth-child(3) {
          top: -2px;
          transform: rotate(-45deg);
      }

      &:nth-child(4) {
          margin: 6px;
          width: 0%;
      }        
    }
  }
  @media screen and (min-width: 600px) {
    ~ {
      & .menu {
        display: block;
        left: -46px;
      }
      & .menu-icon {
        display: none;
      }
      & .menuToggleCheckbox {
        display: none;
      }
    }   
  }
}

body {
  font: 18px/1.5 Publik, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;   
  font-family: Publik;
}

.svt-header {
	
  font-size: 24px;
  font-weight: 400;
    background-color:#410f5a;
//    background-image: url("../img/topbg.jpg");
    min-height: 190px;
    width:100%;
    box-sizing: border-box;
    color: rgb(240, 240, 240);
    text-decoration-color: rgb(240, 240, 240);
    text-decoration: none;

    @media screen and (min-width: 600px) {
        min-height: 220px;
    }
}

.svt-header h1 {
    text-transform: uppercase;
    font-size: 36px;
    @media screen and (min-width: 600px) {
        font-size: 60px;
    }
}

.svt-header a {
    color: rgb(240, 240, 240);
    text-decoration-color: rgb(240, 240, 240);
    text-decoration: none;
    &:hover {
        font-weight: 400;
        text-decoration: underline;
    }
}

.svt-header .view {
    text-align: right;
 //   position: absolute;
    right: 20px;
    top: 125px;
    @media screen and (min-width: 600px) {
        top: 230px;
    }
}

.site-logo {
    display: block;
  //  position: absolute;
    right: 5px;
    top: 3px;
    z-index: 2;
    & img {
        max-width: 40px;
    }
    @media screen and (min-width: 600px) {
        top: 5px;
        & img {
            max-width: 70px;
        }
    }
}
.footer-logo {
    max-width: 40px;

    @media screen and (min-width: 600px) {
        max-width: 70px;
    }
}

.header-main {
    text-align: center;
}

.wrapper {
    margin: 0;
}

.svt-header {
    padding:0;
}

.svt-footer {
    width: "100%";
    padding: 30px;
    background-color: black;
    font-size: 13px;
    text-align: center;
    color: rgb(240, 240, 240);
}

.svt-section {
    padding: 15px;
    @media screen and (min-width: 600px) {
        padding: 30px;
    }
}

a {
    font-weight: 400;
    text-decoration: none;
    &:hover {
        font-weight: 400;
        text-decoration: underline;
    }

}     

h1, h2, h3 {
    font: Publik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}


@font-face {
    font-family: Publik;
    font-weight: 400;
    font-style: normal;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Regular_3.woff2")
            format("woff2"),
         url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Regular_5.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: normal;
    font-weight: 700;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Bold_5.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Bold_7.woff")
            format("woff");
}

@font-face {
    font-family: Publik;
    font-style: italic;
    font-weight: 400;
    src: url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Italic_3.woff2")
            format("woff2"),
        url("https://www.svtstatic.se/resources/svtlib-font/fonts/PublikWeb-Italic_5.woff")
            format("woff");
}
